@model Shipping
@{
    ViewData["Title"] = "Thêm Khu vực vận chuyển";
}
<style type="text/css">
    .css_select_div{ text-align: center;}
    .css_select{ display: inline-table; width: 25%; padding: 5px; margin: 5px 2%; border: solid 1px #686868; border-radius: 5px;}
</style>
<div class="container-fluid">
    <a class="btn btn-primary mb-1" asp-action="Index" asp-controller="Shipping">Go Back</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">Thêm khu vực vận chuyển</h4>
        </div>
        <div class="card-body">
                <div class="row mb-2">
                    <div class="col-12">
                        <div class="mb-2">
                            <label>Tỉnh</label>
                            <select class="css_select" id="tinh" name="tinh" title="Chọn Tỉnh Thành">
                                <option value="0">Tỉnh Thành</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <label>Quận/huyện</label>
                            <select class="css_select" id="quan" name="quan" title="Chọn Quận Huyện">
                                <option value="0">Quận Huyện</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <label>Phường Xã</label>
                            <select class="css_select" id="phuong" name="phuong" title="Chọn Phường Xã">
                                <option value="0">Phường Xã</option>
                            </select>
                        </div>
                        <div class="mb-2">
                            <label>Price</label>
                        <input type="text" id="price-shipping" asp-for="Price" class="form-control" step="0.01" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        
                    </div>

                </div>

                <div class="mb-2">
                    <button type="button" class="btn btn-primary w-100 btn-add-shipping">Save</button>
                </div>
       </div>
    </div>
</div>
<script src="https://esgoo.net/scripts/jquery.js"></script>
@section Scripts{

    <script>
        $(".btn-add-shipping").click(function () {
            var tinh = $("#tinh").find('option:selected').text();
            var quan = $("#quan").find('option:selected').text();
            var phuong = $("#phuong").find('option:selected').text();
            var price = $("#price-shipping").val();

            if (tinh == '' || quan == '' || phuong == '' || price == '') {
                alert("Không được bỏ trống");

            } else {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Create", "Shipping")",
                    data: { tinh: tinh, quan: quan, phuong: phuong, price: price },
                    success: function (result) {
                        if (result.success) {
                            alert("Thành công");

                        } else if (result.duplicate) {
                            alert("Trường nay bị trùng lặp");
                        }
                    }
                })
            }

        })
        $(document).ready(function () {
            //Lấy tỉnh thành
            $.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm', function (data_tinh) {
                if (data_tinh.error == 0) {
                    $.each(data_tinh.data, function (key_tinh, val_tinh) {
                        $("#tinh").append('<option value="' + val_tinh.id + '">' + val_tinh.full_name + '</option>');
                    });
                    $("#tinh").change(function (e) {
                        var idtinh = $(this).val();
                        //Lấy quận huyện
                        $.getJSON('https://esgoo.net/api-tinhthanh/2/' + idtinh + '.htm', function (data_quan) {
                            if (data_quan.error == 0) {
                                $("#quan").html('<option value="0">Quận Huyện</option>');
                                $("#phuong").html('<option value="0">Phường Xã</option>');
                                $.each(data_quan.data, function (key_quan, val_quan) {
                                    $("#quan").append('<option value="' + val_quan.id + '">' + val_quan.full_name + '</option>');
                                });
                                //Lấy phường xã
                                $("#quan").change(function (e) {
                                    var idquan = $(this).val();
                                    $.getJSON('https://esgoo.net/api-tinhthanh/3/' + idquan + '.htm', function (data_phuong) {
                                        if (data_phuong.error == 0) {
                                            $("#phuong").html('<option value="0">Phường Xã</option>');
                                            $.each(data_phuong.data, function (key_phuong, val_phuong) {
                                                $("#phuong").append('<option value="' + val_phuong.id + '">' + val_phuong.full_name + '</option>');
                                            });
                                        }
                                    });
                                });

                            }
                        });
                    });

                }
            });
        });
    </script>

}