@model WebEcommerce.ViewModels.CreateProductVM
@{
    ViewData["Title"] = "Create Product";
}

<div class="container-fluid">
    <a class="btn btn-primary mb-1" asp-action="Index" asp-controller="Product">Go Back</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">New Product</h4>
        </div>
        <div class="card-body">
            <form asp-action="Edit" asp-controller="Product" asp-area="Admin" method="post" enctype="multipart/form-data">

                <div class="row mb-2">
                    <div class="col-9">
                        <div class="mb-2">
                            <label>Title</label>
                            <input type="text" asp-for="ProductName" class="form-control" />
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </div>

                        <div class="mb-2">
                            <label>Alias</label>
                            <input type="text" asp-for="Alias" class="form-control" />
                            <span asp-validation-for="Alias" class="text-danger"></span>
                        </div>

                        <div class="mb-2">
                            <label>Description</label>
                            <input id="richEditor" type="text" asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="mb-2">
                            <label>Unit Description</label>
                            <input type="text" asp-for="UnitDescription" class="form-control" />
                            <span asp-validation-for="UnitDescription" class="text-danger"></span>
                        </div>

                        <div class="mb-2">
                            <label>Price</label>
                            <input type="number" asp-for="Price" class="form-control" step="0.01" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>

                        <div class="mb-2">
                            <label>Original Price</label>
                            <input type="number" asp-for="OriginalPrice" class="form-control" step="0.01" />
                            <span asp-validation-for="OriginalPrice" class="text-danger"></span>
                        </div>

                        <div class="mb-2">
                            <label>Sale</label>
                            <input type="number" asp-for="Sale" class="form-control" step="0.01" />
                            <span asp-validation-for="Sale" class="text-danger"></span>
                        </div>

                        <div class="mb-2">
                            <label>Category</label>
                            <select asp-for="CategoryId" class="form-control" asp-items="Model.Categories">
                                <option value="">-- Select Category --</option>
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>

                        <div class="mb-2">
                            <label>Supplier</label>
                            <select asp-for="SupplierId" class="form-control" asp-items="Model.Suppliers">
                                <option value="">-- Select Supplier --</option>
                            </select>
                            <span asp-validation-for="SupplierId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="mb-2">
                            @{
                                if (Model.Image == null)
                                {
                                    <img src="~/thumbnails/1077596-200.png" class="img-fluid" id="thumbnail" />
                                }

                                else
                                {
                                    <img src="~/thumbnails/@Model.Image" class="img-fluid" id="thumbnail" />

                                }
                            }
                        </div>
                        <div class="mb-2">
                            <label>Thumbnail</label>
                            <input type="file" asp-for="Thumbnail" class="custom-file" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" asp-for="IsActive" />
                            <label class="form-check-label" asp-for="IsActive">Active</label>
                        </div>
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" asp-for="IsSale" />
                            <label class="form-check-label" asp-for="IsSale">On Sale</label>
                        </div>
                        <span asp-validation-for="IsSale" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-2">
                    <button type="submit" class="btn btn-primary w-100">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(".custom-file").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            document.getElementById('thumbnail').src = window.URL.createObjectURL(this.files[0])
        });
    </script>
}