@model IEnumerable<WebEcommerce.ViewModels.ProductVM>
@{
    Layout = "_ProductList";
}
<!-- Single Page Header start -->
@section BreadCum {
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Sản phẩm</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active text-white">Sản phẩm</li>
        </ol>
    </div>
}
<!-- Single Page Header End -->
<!-- Fruits Shop Start-->
@foreach (var i in Model)
{

    <div class="col-md-6 col-lg-6 col-xl-4">
        <div class="rounded position-relative fruite-item">
            <div class="fruite-img">
                <a asp-action="Detail" asp-controller="Product" asp-route-id="@i.Id">

                    <img src="~/thumbnails/@i.Image" class="img-fluid w-100 rounded-top" />
                </a>
            </div>
            <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                <h4>@i.Name</h4>
                <div class="d-flex justify-content-between flex-lg-wrap">
                    <p class="text-dark fs-5 fw-bold mb-0">@WebEcommerce.Common.Common.FormatNumber(i.Price, 0)đ</p>
                    <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@i.Id" class="btn border border-secondary rounded-pill px-3 text-primary">
                        <i class="fa fa-shopping-bag me-2 text-primary"></i> Thêm vào giỏ
                    </a>
                </div>
            </div>
        </div>
    </div>
}

<div class="col-12">
    <div class="pagination d-flex justify-content-center mt-5">
        <a href="#" class="rounded">&laquo;</a>
        <a href="#" class="active rounded">1</a>
        <a href="#" class="rounded">2</a>
        <a href="#" class="rounded">3</a>
        <a href="#" class="rounded">4</a>
        <a href="#" class="rounded">5</a>
        <a href="#" class="rounded">6</a>
        <a href="#" class="rounded">&raquo;</a>
    </div>
</div>
<!-- Fruits Shop End-->